# .gitignore itself #
#########################
# .gitignore


#OS generated temp files#
#########################
*.*~
*~
*.thumbs

# for distribution
*-ctan
*-ctan.tgz

# source #
#########################
*.aux
*.fdb_latexmk
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.tmp
*.bib.bak
*.brf
*.fls
# bis zu einem "stabileren Zeitpunkt" lohnt es sich m.E. nicht das PDF im Repository zu haben
*.pdf

fontspecbeispiel.pdf
fontspecbeispiel.aux
fontspecbeispiel.log

.DS_Store
.l2kurz-Tutorium.lb
.l2kurz.lb

_build/
